---
import Image from "astro/components/Image.astro";

const { articles, maxArticles } = Astro.props;

const ARTICLES_TO_SHOW = Math.min(maxArticles, articles.length);

---
<script>
    let activeImage = 1;


    const changeImageTo = (index: Number) => {
        const articleContainers = document.querySelectorAll(".carousel-article")

        articleContainers.forEach(articleContainer => {
            if(articleContainer.id.includes(String(index))) {
                articleContainer.classList.remove("hidden");
            } else {
                articleContainer.classList.add("hidden");
            }
        })
    }

    const highlightButton = (index) => {
        document.querySelector(`#carousel-number-button-${index}`).classList.toggle("font-bold");
    }

    const changeElementTo = (index) => {
        changeImageTo(index);
        highlightButton(activeImage);
        activeImage = index;
        highlightButton(activeImage);
    }

    const numberButtonClickHandler:EventListener = (event: Event) => {
        if("innerText" in event.currentTarget) {
            const buttonNumber = Number(event.currentTarget.innerText)
            changeElementTo(buttonNumber);
        }
    }

    const numberButtons = Array.from(document.querySelectorAll(".carousel-number-button"));
    numberButtons.forEach(button => button.addEventListener("click", numberButtonClickHandler));

    const ARTICLES_TO_SHOW = numberButtons.length;

    const beforeButtonClickHandler = () => {
        changeElementTo((activeImage-1)<1?ARTICLES_TO_SHOW:activeImage-1);
    }

    const beforeButton = document.querySelector("#carousel-button-before");

    beforeButton.addEventListener("click", beforeButtonClickHandler)

    const nextButtonClickHandler = () => {
        changeElementTo((activeImage+1)>ARTICLES_TO_SHOW?1:activeImage+1);
    }

    const nextButton = document.querySelector("#carousel-button-next");

    nextButton.addEventListener("click", nextButtonClickHandler)

    setInterval(() => nextButtonClickHandler(), 5000);

    highlightButton(activeImage);
</script>
<section class="flex flex-col gap-2 w-full max-w-[1500px] max-md:py-7">
    <div id="carousel-contents" class="flex w-full h-full overflow-clip ">
        <div id="carousel-scroll-wrapper" class="h-full flex">
            {
                articles.slice(0,ARTICLES_TO_SHOW).map((article, index) => (
                    <div id={`carousel-article-${index+1}`} class="carousel-article flex max-lg:flex-col max-lg:gap-5 w-[100dvw] h-full md:p-10 max-md:px-7">
                        <Image
                            src={import.meta.env.STRAPI_URL + article.attributes.image.data.attributes.url}
                            alt={"Image article " + article.attributes.titre} class="object-cover self-center rounded-xl"
                            inferSize
                        />
                        <div class="flex flex-col gap-2 self-center lg:pl-20 w-fit ">
                            <span class="font-bold text-2xl max-md:text-lg">{article.attributes.titre}</span>
                            <span class="text-lg max-md:text-sm">{article.attributes.description}</span>
                            <a href={`/actualites/${article.id}`}><span class="max-md:text-sm text-blue-500 underline">Voir l&apos;article</span></a>
                        </div>
                    </div>
                ))
            }
        </div>

    </div>
    <div class="self-end flex gap-5 px-10 max-md:text-sm md:pb-10">
        <button
                id="carousel-button-before"
                title="Voir l'article précedent"
        >◀</button>
        {
            Array.from({ length: ARTICLES_TO_SHOW }, (_, i) => 1 + i).map(index => (
                    <button
                            id={`carousel-number-button-${index}`}
                            class="carousel-number-button"
                            title={`Voir article numéro ${index}`}
                    >{index}</button>
            ))
        }
        <button
                id="carousel-button-next"
                title="Voir l'article suivant"
        >▶</button>
    </div>

</section>