---
import logoReference from "../../public/logo.svg";
import NavigationBar from "@/components/navigationBar.astro";

import Image from "astro/components/Image.astro";
import accesibilityImage from "../../public/accesibility.svg";

import type ContactInformation from "@/interfaces/contactInformation";
import fetchApi from "@/lib/strapi";

import CustomInput from "@/components/customInput.astro";

import AccesibilityMenu from "@/components/accesibilityMenu.astro";

const contactInformation = await fetchApi<ContactInformation>(
    {
        endpoint: 'coordonnees',
        wrappedByKey: 'data',
        query: {
            populate: "*"
        }
    }
)

const { title }  = Astro.props || {};
---
<script>
    import ArticlePreview from "../components/web-components/articlePreview";
    customElements.define("article-preview", ArticlePreview);
</script>


<script>

    document
        .querySelector("#newsletter-form")
        ?.addEventListener(
            'submit',
            function (event)  {
                event.preventDefault();
                const formElement: HTMLFormElement = event.currentTarget as HTMLFormElement;
                if(!formElement.checkValidity()) {
                    const fields: NodeListOf<HTMLInputElement | HTMLTextAreaElement> = document.querySelectorAll("#newsletter-form input, textarea");
                    fields.forEach(field => field.setCustomValidity(""));
                } else {
                   formElement.classList.add("hidden");
                    document
                        .querySelector("#newsletter-form-submit-message")
                        ?.classList
                        .remove("hidden")
                }
            }
        )

    document.
    querySelector("#back-newsletter-form-button")
        ?.addEventListener(
            "click",
            function() {
                const formElement: HTMLFormElement | null = document.querySelector("#newsletter-form")

                formElement?.reset();
                document.querySelector("#newsletter-form-submit-message")?.classList.add("hidden");
                formElement?.classList.remove("hidden");
            }
        )
</script>



<!DOCTYPE html>
<html lang="fr-FR">

    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Page web Handicap Visuel Val de Loire"/>
        <meta name="keywords" content="Handicap, Blog, France, Web"/>
        <meta name="author" content="Heyner Cuevas" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.png`} type="image/png" sizes="32x32">
        <link rel="apple-touch-icon"  href={`${import.meta.env.BASE_URL}favicon.png`} type="image/png" sizes="32x32">
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <title>{title??"Handicap Visuel Val de Loire"}</title>
    </head>
    <body>
        <AccesibilityMenu />
        <header class="h-16 flex justify-between align-middle bg-gradient-to-r from-blue-600 to-blue-400 text-white sticky top-0 px-5 items-center z-50">

            <a class="h-full w-auto" href="/">
                <div class="flex gap-4">
                    <img class="h-16 py-3" src={logoReference.src} alt="logo" />
                    <h1 class="font-bold self-center">Handicap Visuel Val de Loire</h1>
                </div>
            </a>
            <NavigationBar />
        </header>
        <main class="z-10 w-full min-h-[45dvh] flex flex-col items-center">
            <slot />
        </main>
        <div id="newsletter-wrapper" class="flex w-full justify-center">
            <section class="flex flex-col gap-10 p-7 max-w-[2000px] w-full">
                <h2 class="text-2xl font-bold">S&apos;abonner à notre lettre d&apos;informations</h2>
                <div class="flex max-lg:flex-col-reverse gap-5 justify-evenly">
                    <form id="newsletter-form" class="self-center flex flex-col gap-10" novalidate>
                        <fieldset class="flex max-md:flex-col md:gap-8 max-md:gap-5">
                            <CustomInput type="text" label="Nom" required />
                            <CustomInput type="email" label="Email" required />
                        </fieldset>
                        <button type="submit" class="bg-gradient-to-r from-blue-500 to-blue-400 hover:bg-gradient-to-r hover:from-blue-600 hover:to-blue-500 text-white font-bold self-center rounded-full px-3 py-0.5 max-md:text-sm">S&apos;abonner</button>

                    </form>
                    <div id="newsletter-form-submit-message" class="hidden flex flex-col gap-5">
                        <span class="text-center">Merci pour votre abonnement</span>
                        <button type="reset" id="back-newsletter-form-button" class="bg-gradient-to-r from-blue-500 to-blue-400 hover:bg-gradient-to-r hover:from-blue-600 hover:to-blue-500 text-white font-bold self-center rounded-full px-3 py-0.5 max-md:text-sm">Retour</button>
                    </div>
                    <Image
                            src={accesibilityImage}
                            class="h-80 max-md:h-60 w-auto"
                            alt="image d'une femme en fateuil roulant touchant une page web"
                    />
                </div>
            </section>
        </div>

        <footer class="flex w-full justify-center bg-gradient-to-r from-blue-600 to-blue-400 text-white">
            <div class="flex max-md:flex-col max-md:gap-7 justify-between w-full p-7 max-w-[2000px]">
                <div class="flex flex-col gap-7">
                    <h2 class="text-2xl font-bold">Contact</h2>
                    <div class="flex flex-col gap-1">
                        <span>{contactInformation.attributes.adresse}</span>
                        <span>{contactInformation.attributes.code_postal} {contactInformation.attributes.ville.toUpperCase()}</span>
                        <span>{contactInformation.attributes.numero_telephone}</span>
                        <span>{contactInformation.attributes.email}</span>
                    </div>
                </div>
                <a class="font-bold hover:underline" href={`${import.meta.env.BASE_URL}rgpd`}>Politique de confidentialité</a>
            </div>
        </footer>
    </body>
</html>



